body {
    font-family: Roboto, sans-serif;
}

.navbar {
    background-color: black;
}

#cabecalho .nav .nav-link.active {
    background-color: #fff;
    color: black;
}

#cabecalho .nav .nav-link,
.navbar-brand,
.navbar-brand:hover,
.nav-cardapio .nav-link.active:hover {
    color: #fff;
}

.navbar-toggler {
    background-color: #ffeaff;
}

.carousel-item img {
    width: 100%;
    max-height: 700px;
}

.section-title {
    font-family: Pacifico, cursive;
}

#sobre-o-restaurante,
#cardapio {
    background-color: #ffeae2;
}

.text-colored {
    color: #5e332a;
}

.nav-cardapio .nav-link.active,
#fale-conosco button {
    background-color: #e15f41;
    color: #fff;
}

.nav-cardapio .nav-link:hover {
    color: #e15f41;
}

.social-links li {
    list-style: none;
    display: inline;
}

.social-links a {
    text-decoration: none;
}

@media (max-width: 767px) {
    .carousel-item img {
        height: 280px;
    }
}